<nav class="navbar navbar-inverse navbar-global navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">IT-Verwaltung</a>
        </div>
    </div>
</nav>
<nav class="navbar-primary">
    <a href="#" class="btn-expand-collapse"><span class="glyphicon fas fa-arrows-alt-h"></span></a>
    <ul class="navbar-primary-menu">
        <li>
            <!-- STAMMDATEN START  -->
            <div class="accordion" id="accordionNav">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class=" textbolder fas fa-suitcase"></i>
                            <span class="nav-label">Stammdaten</span>
                        </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionNav">
                        <div class="card-body">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-desktop"></i>
                                        <span class="nav-label">Komponenten</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-tablet-alt"></i>
                                        <span class="nav-label">Komponentenarten</span>
                                    </a>
                                </li>
                                <!--li>
                                    <a href="#">
                                        <i class="fas fa-palette"></i>
                                        <span class="nav-label">Komponentenattribute</span>
                                    </a>
                                </li-->
                                <li>
                                    <a href="#">
                                        <i class="fas fa-warehouse"></i>
                                        <span class="nav-label">Räume</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-user-tie"></i>
                                        <span class="nav-label">Lieferanten</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-users"></i>
                                        <span class="nav-label">Benutzer</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- STAMMDATEN ENDE  -->
            <!---------------------------------------------------->
            <!-- NEUBESCHAFFUNG START  -->
            <!--div class="accordion" id="accordionNav2">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="nav-label">Neubeschaffung</span>
                        </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionNav2">
                        <div class="card-body">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-desktop"></i>
                                        <span class="nav-label">Komponenten</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div-->
            <!-- NEUBESCHAFFUNG ENDE  -->
            <!---------------------------------------------------->
            <!-- AUSMUSTERUNG START  -->
            <!--a href="#" class="btn btn-link">
                <i class="fas fa-recycle"></i>
                <span class="nav-label">Ausmusterung</span>
            </a-->
            <!-- AUSMUSTERUNG ENDE   -->
            <!---------------------------------------------------->
            <!-- REPORTING START  -->
            <a href="#" class="btn btn-link">
                <i class="fas fa-file-alt"></i>
                <span class="nav-label">Reporting</span>
            </a>
            <!-- REPORTING ENDE   -->
            <!---------------------------------------------------->
        </li>
    </ul>
</nav>


{% block javascripts %}
<script>
    $('.btn-expand-collapse').click(function(e) {
        $('.navbar-primary').toggleClass('collapsed');
    });
</script>
{% endblock %}




<!-- 
- TODO 2018 07 23 
- > Navigation erneut nach neuen Anforderrungen anpassen
-
 -->